LOG_MODE=logstash
NODE_ENV=staging

PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

API_KEY=
ELASTICSEARCH_URL=
ELASTICSEARCH_USERNAME=
ELASTICSEARCH_PASSWORD=
REDIS_STORE=
REDIS_PORT=
REDIS_PASSWORD=
DB_MODULE=
COMMAND_HANDLER=
#QUERY_HANDLER=
#COMMAND_METHOD_OVERRIDE=
QUERY_METHOD_OVERRIDE=
